*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }

  .slideTextContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;    
  }

  .titleContainer{
    width: 50%;
    text-align: left;
    margin-left: -10%;
  }
  
  .slides{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
    color: #fff;
    scroll-snap-align: start;
  }

  .slides h2{
    font-size: 70px;
    font-weight: 600;
    max-width: 650px;
  }

  .slides h4{
    display: block;
    font-size: 30px;
    margin-top: 10px;
  }

  .slide1{
    background: linear-gradient(454deg, #4f3eb1, #7f8cec);
  }

  .slide2{
    background: linear-gradient(454deg, #0ccda3, #c1fcd3);
  }

  .slide3{
    background: linear-gradient(454deg, #0465c3, #3cd9f8);
  }

  .slide4{
    background: linear-gradient(454deg, #849b5c, #bfffc7);
  }

  .footer{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
  }

  .footer img{
    width: 10%;
  }